#inputNum,
.calculator {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.calculator,
.container-fluid {
  display: flex;
  position: relative;
}
.button,
.history .title,
.myIcon {
  font-size: 1.5rem;
}
#inputNum,
.expand .myText {
  width: 100%;
}
body,
html {
  height: 100%;
}
.inputNumber {
  margin: 1rem;
}
#inputNum {
  text-align: right;
  background-color: #eaeaea;
  border: 0;
  border-radius: 5px;
  height: 30px;
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.container-fluid {
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #08d9d6;
}
.calculator {
  flex-direction: column;
  padding: 1rem;
  background-color: #252a34;
  width: fit-content;
}
.button {
  background-color: #b0daff;
  width: 50px;
  height: 50px;
  margin: 2px;
  border: 0;
  border-radius: 5px;
  transform: scale(1);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.history,
.myText {
  transition: 0.6s ease-in-out;
}
.button:hover {
  cursor: pointer;
  background-color: #ff2e63;
  transform: scale(1.1);
}
.flex-child {
  flex: 1;
}
.history {
  padding: 3rem 2.5rem 0.5rem 0.5rem;
  top: 0;
  height: 100%;
  color: #fff;
  left: 0;
  overflow: auto;
  width: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.history .title {
  font-weight: 700;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}
.myIcon {
  color: #ff0;
}
.expand {
  background-color: #146c94;
  width: 70%;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.come {
  z-index: 5;
}
.blur {
  filter: blur(1px);
}
.myText {
  width: 0%;
}
